@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
  font-weight: 300;
}

footer {
  border-top:1px solid @navbar-default-border;
  background-color: @navbar-default-bg;
  padding:30px 0;
  text-align:center;
}